.root {
  width: 100%;
  border-collapse: collapse;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1rem;
}

.root th,
.root td {
  padding: 0.5rem 1rem;
  height: 34px;
}

.root tr {
  border-bottom: 1px solid lightgray;
}
