.root {
  width: 100%;
  border-collapse: collapse;
  font-weight: 500;
  font-size: var(--font-size-sm);
  line-height: var(--line-height-sm);
}

.root th {
  padding: 0.5rem 1rem;
  vertical-align: text-top;
}

.root td {
  vertical-align: middle;
  height: 3rem;
  padding: 0 1rem;
}
