.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.secondaryValue {
  color: lightgray;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 0.875rem;
  margin-top: 0.25rem;
}

.top {
  vertical-align: text-top;
}
