.root.subrow,
.root.expanded {
  background-color: var(--bg-expanded-color);
}

.root.subrow:hover {
  background-color: var(--bg-expanded-color);
}

.root:not(.subrow):hover {
  background-color: var(--bg-hover-color);
}

/* Remove last border from child table */
.root.subrow tbody tr:last-child {
  border-bottom: none;
}
