.root {
  text-wrap: nowrap;
  padding: 0.5rem 1rem;
  height: 34px;
}

.wrap {
  text-wrap: wrap;
}

/* Secondary header & value */

.ihv-table .secondary-value {
  color: var(--secondary-color);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 0.875rem;
  margin-top: 0.25rem;
}

.root.subrow > * {
  background-color: white;
  border-radius: 0.5rem;
}

/* Alignment classes */

.root.left {
  text-align: left;
}

.root.center {
  text-align: center;
}

.root.right {
  text-align: right;
}

.root.multiLine {
  vertical-align: text-top;
}
