.ihv-table {
  /* CSS variables */
  --border-color: hsl(240 5.9% 90% / 0.5);
  --secondary-color: lightgray;
  --bg-hover-color: hsl(240 4.8% 95.9% / 0.5);

  /* General styles */

  width: 100%;
  border-collapse: collapse;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1rem;
}

.ihv-header tr,
.ihv-body tr {
  border-bottom: 1px solid var(--border-color);
}

.ihv-body tr:hover {
  background-color: var(--bg-hover-color);
}

.ihv-body tr.expanded {
  background-color: var(--bg-hover-color);
}

.ihv-table th,
.ihv-table td {
  text-wrap: nowrap;
  padding: 0.5rem 1rem;
  /* height: 34px; */
}

.ihv-body .expandable {
  background-color: var(--bg-hover-color);
}

.ihv-body .expandable tr:last-child {
  border-bottom: none;
}

/* Secondary header & value */

.ihv-table .secondary-value {
  color: var(--secondary-color);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 0.875rem;
  margin-top: 0.25rem;
}

/* Alignment classes */

.ihv-table .align-left {
  text-align: left;
}

.ihv-table .align-center {
  text-align: center;
}

.ihv-table .align-right {
  text-align: right;
}

.ihv-table .multi-line {
  vertical-align: text-top;
}

.ihv-body .expander {
  cursor: pointer;
}
